{% extends 'layouts/base.html'%}

{% block content %}

<h1>Bienvenido al about</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae rem eligendi laboriosam veritatis sequi commodi hic harum quasi corrupti perferendis! Voluptatum, officiis harum est quam excepturi dolores reprehenderit corrupti illum ipsa nemo nulla, voluptatibus voluptatem totam? Perferendis veniam minus molestiae debitis voluptatum, vero libero fugit dolorem fugiat magni et maxime. Laborum fuga reprehenderit voluptates doloribus quaerat maiores, possimus quisquam aperiam vel rem? Aut quaerat rem asperiores rerum saepe omnis ab laudantium repudiandae ut ad. Nam impedit perspiciatis odio facere repellendus, placeat aspernatur tenetur dolorem! Et itaque neque, modi esse sequi rerum quam, debitis repudiandae dolor molestiae, libero placeat architecto cupiditate.</p>

<p>sitio web creado por {{ user }}</p>

{% endblock %}